#home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh + 70px);
    background: url('../../public/assets/images/peoples-working-with-stone.png') no-repeat center center;
    background-size: cover;
    margin-top: 0;
}

@media screen and (max-width: 500px) {
    #home {
        background-attachment: scroll;
    }
}

.nav-item-2 a{
    color: var(--color-darkblue-1);
    border-bottom: 3px solid var(--color-brown-1);
}

#cta {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#cta .cta-title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: #fff;
}

#cta .cta-description {
    width: 45%;
    font-family: "Lora", sans-serif; 
    font-size: 1.20rem;
    color: #fff;
    font-weight: 200;
    margin-top: 2%;
    letter-spacing: 0.5px;
}


@media screen and (max-width: 850px) {
    #cta .cta-title {
        font-size: 3.2rem;
        margin-top: 5%;
    }

    #cta .cta-description {
        width: 100%;
        margin-top: 5%;
        font-size: 1.25rem;
        text-align: start;
    }
}

@media screen and (max-width: 400px) {
    #cta .cta-title {
        width: auto;
        font-size: 2.2rem;
        text-align: start;
        margin-top: 15%;
    }

    #cta .cta-description {
        width: auto;
        margin-top: 5%;
        font-weight: 300;
        font-size: 1.05rem;
        text-align: start;
    }
}


#relevance_data img {
    width: 9%;
    height: auto;
}

#relevance_data .informations {
    width: 100%;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}

#relevance_data .informations-left, .informations-right {
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 37px;
}


#relevance_data .title {
    width: 90%; 
}

@media screen and (max-width: 800px) {
    #relevance_data img {
        width: 8%;
    }

    #relevance_data .informations {
        flex-direction: column;
        gap: 37px;
    }

    #relevance_data .informations-left, .informations-right {
        width: auto;
    }
}
