footer {
    background-color: rgb(17, 17, 17);
    padding: 4% 10%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

footer p {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
}

footer .social-media-buttons {
    margin: 0;
}

footer .informations {
    display: flex;
    justify-content: space-between;
}

footer .title {
    margin-bottom: 3%;
    color: #fff;
    font-size: 1.05rem;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}
footer .menu{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

footer #menu_list {
    list-style-type: none;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

footer a:hover {
    color: var(--color-darkblue-1);
}

footer .contacts {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

footer .media-buttons {
    display: flex;
    align-items: end;
}

footer .copyright {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding-top: 15%;
}

footer .copyright img {
    width: 5%;
    border-radius: 0;
}

footer .back-top {
    text-align: center;
    padding-top: 2%;
}

@media screen and (max-width: 800px) {
    footer .informations {
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    footer .copyright img {
        width: 15%;
        border-radius: 0;
    }
}
