#home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh + 70px);
    background: url('../../public/assets/images/header-house-page-home.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
}

@media screen and (max-width: 400px) {
    #home {
        background-attachment: scroll;
    }
}

.nav-item-1 a{
    color: var(--color-darkblue-1);
    border-bottom: 3px solid var(--color-brown-1);
}

#cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#cta .cta-title {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: #fff;
}

#cta .cta-description {
    width: 75%;
    font-family: "Lora", sans-serif; 
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
    margin-top: 1%;

}

@media screen and (max-width: 850px) {
    #cta .cta-title {
        width: auto;
        font-size: 3.2rem;
        text-align: start;
    }

    #cta .cta-description {
        width: auto;
        padding-right: 40%;
        margin-top: 5%;
        font-size: 1.25rem;
        text-align: start;
    }
}

@media screen and (max-width: 400px) {
    #cta .cta-title {
        width: auto;
        font-size: 2.9rem;
        text-align: start;
    }

    #cta .cta-description {
        width: auto;
        padding-right: 40%;
        margin-top: 5%;
        font-weight: 300;
        font-size: 1.05rem;
        text-align: start;
    }
}

#cta_buttons {
    display: flex;
    margin-top: 2%;
}

#cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button {
    display: flex;
    align-items: center;
    gap: 8px; 
    border-radius: 26px;
    margin-top: 40%; 
    background-color: #fff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#phone_button:hover {
    box-shadow: 0px 0px 12px 8px rgba(226, 223, 223, 0.1);

}

.social-media-buttons {
    margin-top: 2%;
}


#about_us {
    background-color: var(--color-primary-1);
}

#about_us .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#transform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

#transform img {
    width: 45%;
    border-radius: 26px;
}

#transform .texts {
    width: 45%;
}

#transform .description {
    width: 60%;
}

#transform .btn-default {
    margin-top: 20%;
}

@media screen and (max-width: 800px) {
    #transform {
        flex-direction: column;
        gap: 40px;
    }

    #transform img {
        width: 75%;
    }

    #transform .texts {
        width: auto;
    }

    #transform .description {
        width: auto;
    }

    #transform .btn-default {
        margin-top: 10%;
    }
}


.carousel-container {
    position: relative;
    overflow: hidden;
    width: 65%;
    max-width: 1200px;
    margin: 0 auto;
}

#carousel-section .title {
    text-align: center;
    width: auto;
    padding-bottom: 4%;
}

.carousel-track {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-slide {
    min-width: 50%;
    box-sizing: border-box;
    padding: 10px; 
}

.carousel-image img {
    width: 100%;
    display: block;
    border-radius: 26px;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-control {
    background-color: transparent;
    border: none;
    color: var(--color-brown-1);
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    margin: 0 5px;
}


@media screen and (max-width: 800px) {
    .carousel-slide {
        min-width: 100%; 
        padding: 15px; 
    }

    .carousel-image img {
        border-radius: 26px; 
    }
}

@media screen and (max-width: 400px) {
    .carousel-control {
        font-size: 1.5rem;
        padding: 5px;
    }

    .carousel-container {
        width: 100%;
    }

    .carousel-image img {
        width: 100%;
    }
}


#moledo_stone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary-1);
}

#moledo_stone .text-and-img {
    width: 45%;

}   

#moledo_stone .text-and-img img {
    width: 90%;
    margin-top: 4%;
}

#moledo_stone .informations img {
    width: 6%;
    height: auto;
}

#moledo_stone .title {
    width: 90%;
}

#moledo_stone .informations {
    display: flex;
    flex-direction: column;
    gap: 37px;
    width: 50%;
}


@media screen and (max-width: 800px) {
    #moledo_stone {
        flex-direction: column;
        gap: 40px;
    }

    #moledo_stone .text-and-img {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }

    #moledo_stone .text-and-img img {
        width: 75%;
    }

    #moledo_stone .text-and-img .title {
        width: auto;
    }

    #moledo_stone .informations {
    width: auto;
    }

    #moledo_stone .informations img {
        width: 8%;
    }
}


#perfect_stone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

#perfect_stone .texts {
    width: 40%;
}

#perfect_stone .description {
    margin-top: 9%;
    margin-bottom: 12%;
}


#perfect_stone img {
    width: 50%;
}


@media screen and (max-width: 800px) {
    #perfect_stone {
        flex-direction: column-reverse;
        gap: 40px;
    }

    #perfect_stone .texts {
        width: auto;
    }

    #perfect_stone img {
        width: 75%;
    }

    #perfect_stone .description {
        margin-top: 4%;
        margin-bottom: 10%;
    }
}


#types_stones {
    width: 100%;
    background-color: var(--color-primary-1);
}

#stones {
    list-style: none;
}

#types_stones #stones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

#types_stones a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    color: black;
    letter-spacing: 1.5px;
    transition: color 0.5s ease ;
    transition: font-size 0.5s ease;
}

#types_stones a:hover {
    color: var(--color-brown-1);
    font-size: 1.30rem;
    text-decoration: underline;
}


@media screen and (max-width: 800px) {
    #types_stones #stones .stone-line {
        display:none
    }

    #types_stones #stones {
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }

    #types_stones a {
        font-size: 1.20rem;
        letter-spacing: 1.05px;
    }

    #types_stones a:hover {
        font-size: 1.25rem;;
    }
}


#contact {
    background-color: var(--color-brown-1);
}

#contact .title {
    color: #fff;
    text-align: center;
}

#contact .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .description {
    width: 50%;
    color: #fff;
    text-align: center;
}

#contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 5%;
}

#contact .contact-inputs, .btn-send {
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-primary-1);
    color:var(--color-brown-1);
    border-radius: 26px;
    transition: box-shadow 0.5s ease;
    
}

#contact .contact-inputs:hover {
    box-shadow: 0px 0px 14px 8px rgba(226, 223, 223, 0.3);
    width: 30.3%;
}

#contact .btn-send {
    padding-left: 0;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--color-darkblue-1);
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
}

#contact .btn-send:hover {
    box-shadow: 0px 0px 14px 8px rgba(226, 223, 223, 0.3);
    color: var(--color-darkblue-1);
    background-color: #fff;
}


@media screen and (max-width: 1000px) {
    #contact .contact-inputs, .btn-send {
        width: 80%;
    }

    #contact .description {
        width: 90%;
    }

    #contact .contact-inputs:hover {
        width: 80.3%;
    }

}
